@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --primary: #393e46;
  --secondary: #6d9886;
  --dark: #121f1a;
  --light: #dcdcdc;
  --white: #ffffff;
  --clicked: #f9f9f9;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  margin: 30px 0px;
  color: #e3aa24;
  font-size: 2.7rem;
}
.info-div {
  display: flex;
  flex-direction: row;
  background-color: var(--primary);
  padding: 2vh;
  width: fit-content;
  margin: 1.2vw auto;
  border-radius: 1vh;
}

.d2 {
  background-color: var(--light);
  width: fit-content;
  margin: auto 1vw;
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: var(--secondary);
  border-radius: 1vh;
  padding: 1rem;
}

.d1 {
  background-color: var(--light);
  width: fit-content;
  margin: auto 1vw;
  font-size: 2rem;
  color: var(--secondary);
  border-radius: 1vh;
  padding: 0.55rem;
  user-select: none;
}

.d1:hover {
  background-color: var(--clicked);
  cursor: pointer;
  box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.25);
}

.d0 {
  background-color: var(--light);
  cursor: pointer;
  width: fit-content;
  margin: auto 1vw;
  font-size: 2rem;
  color: var(--secondary);
  border-radius: 1vh;
  padding: 0.5rem;
  user-select: none;
}

.levels button {
  margin: 0px 20px;
  padding: 10px 20px;
  border: none;
  background-color: var(--white);
  border-radius: 10px;
  font-size: 1.1rem;
}

.levels button:hover {
  background-color: var(--light);
  cursor: pointer;
}

.container {
  background-color: var(--primary);
  width: fit-content;
  padding: 3rem;
  margin: 1rem auto;
  border-radius: 10px;
}

.container .board {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: max-content;
}

.board tr {
  display: flex;
}

.board td {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
  font-size: 2vw;
  font-weight: 800;
  background-color: var(--white);
  border-radius: 1vh;
  margin: 1px;
  width: 3vw;
  height: 3vw;
  user-select: none;
}

.board td:hover {
  background-color: var(--light);
  cursor: pointer;
}

.lives {
  display: flex;
  margin-top: 25px;
  font-size: 1.4rem;
  letter-spacing: 5px;
}

.lives-txt {
  color: var(--white);
}
.lives-num {
  color: #ca1c1c;
  margin-left: 10px;
}

.footer {
  font-size: 1.4rem;
  color: #e3aa24;
  letter-spacing: 2px;
  margin-top: 25px;
}

.clicked {
  box-shadow: inset 0 0 0.5rem 0.1rem black;
  outline: 2px black solid;
  background-color: var(--clicked);
}

.mine {
  background-color: #951f1f !important;
}

.n1 {
  color: #2e8dd6 !important;
}

.n2 {
  color: #19b359 !important;
}

.n3 {
  color: #ca1c1c !important;
}

.n4 {
  color: #e3aa24 !important;
}

.n5 {
  color: #8f32b7 !important;
}

.n6 {
  color: #ff0000 !important;
}

.n7 {
  color: #2e125e !important;
}

.n8 {
  color: #000000 !important;
}
